@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    :root {
        --rosachiclete: #F27999;
        --white: #F2F2F2;
        --rosabebe: #F2B3D6;
    }

    body {
        background-image: linear-gradient(to top, var(--rosachiclete), var(--rosabebe));
    }
    section#login {
        width: 80vw;
    }

    section#login > div#img {
        float: left;      
        width: 30%;
        height: 400px;
    }

    section#login > div#formulario {
        float: right;
    }
}

@media screen and (min-width: 992px) {
    :root {
        --rosachiclete: #F27999;
        --white: #F2F2F2;
        --rosabebe: #F2B3D6;
    }

    body {
        background-image: linear-gradient(to top, var(--rosachiclete), var(--rosabebe));
    }

    section#login{
        width: 950px;
    }

    section#login > div#img {
        float: left;
        width: 50%;
        height: 400px;
    }

    section#login > div#form{
        float: rigth;
        width: 100%;
    }
    
}