@charset "UTF-8";

/* 
    Paleta de Cores:

    #F27999 - rosa chiclete
    #F2B3D6 - rosa bebe
    #F2F2F2 - withe
    #F28D77 - orange
    #0D0D0D - black
*/

:root {
    --rosachiclete: #F27999;
    --white: #F2F2F2;
    --rosabebe: #F2B3D6;
    --detail: #f85883
}

* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body,html {
    
    background-color: var(--rosachiclete);
    height: 100vh;
    width: 100vw;

}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    
    overflow: hidden;

    border: 1px solid var(--rosachiclete);
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    background-color: var(--white);
    width: 350px;

    
    transform: translate(-50%, -50%);
    transition: width .3s, heigth .3s;
    transition-timing-function: ease;
}

section#login > div#img {
    display: block;
    background: var(--rosachiclete) url(../img/fundo-makeup.jpg) no-repeat;
    background-size: cover;
    height: 200px;
}

section#login > div#form {
    display: block;
    padding: 10px;
}

div#form > h1 {
    text-align: center;
    padding: 20px;
}

div#form > p {
    margin: 0px 20px 20px 20px;
}

div#form > p > strong {
    color: var(--rosabebe);
}

div#form > p > strong:hover {
   color: var(--detail);
   cursor: pointer;
}

#pcenter {
    text-align: center;
}

div.dadoLogin > label {
    display: none;
}

.dadoLogin {
    height: 40px;
    width: 210px;
    border-radius: 8px;
    margin: 0 auto;
    margin-bottom: 5px;
    background-color: var(--rosabebe);
}

.dadoLogin > input {
    font-size: 1em;
    border: 0;
    border-radius: 5px;
    height: 35px;
    width: 163px;
    position: relative;
    top: -10px;
    padding: 10px;
}

.material-symbols-outlined {
    color: var(--white);
    padding: 5px;
    font-size: 2em;
    width: 40px;
}

#btn > input {
    display: block;
    margin: 5px auto;
    background-color: var(--rosachiclete);
    color: var(--white);
    font-weight: bold;
    padding: 10px 85px;
    border: none;
    border-radius: 5px;
}

#btn > input:hover{
    cursor: pointer;
    background-color: var(--detail)
}

form > a.botao {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 1em;
    width: 210px;
    height: 40px;
    background-color: var(--white);
    color: var(--rosachiclete);
    font-weight: bold;
    border: 1px solid var(--rosachiclete);
    border-radius: 5px;
    text-decoration: none;
    padding-top: 5px;
}

form > a.botao:hover {
    background-color: var(--rosabebe);
    color: var(--white);
    cursor: pointer;
}

form > a.botao > span {
    color: #F27999;
    font-size: 0.95em;
}


